div.dataTables_length select{
    width: auto!important;
}

div.dataTables_length label{
    font-weight: bold;
}

.btn-group-xs>.btn, .btn-xs{
    margin-right: 10px;
}

div.dataTables_length{
    width: auto!important;
    padding-right: 4%!important;
    padding-bottom: 2%;
}

.btn-theme02{
    border-radius: 50%;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    background-color: #FCB322;
    border-color: #FCB322;
}

.btn-theme02:hover{
    background-color: #f0932b;
    border-color:#f0932b;
}
/*
@import "../../../../assets/lib/advanced-datatable/css/demo_page.css";
@import "../../../../assets/lib/advanced-datatable/css/demo_table.css";
@import "../../../../assets/lib/advanced-datatable/css/DT_bootstrap.css"; */

