<h3><i class="fa fa-angle-right"></i> La liste des candidats</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="row" style="margin-right: 0px!important;margin-left: 10px!important">
            <div class="col-md-11">
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Niveau de formation<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">Cycle d'ingénieur</option>
                            <option value="">License</option>
                            <option value="">Master</option>
                            <option value="">Baccalauréat</option>
                        </select>
                    </label>
                </div>
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Spécialité de la formation<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">Informatique</option>
                            <option value="">Informatique Industrielle</option>
                            <option value="">Finance</option>
                            <option value="">Embarqué</option>
                        </select>
                    </label>
                </div>
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Expérience<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">3 à 5ans</option>
                            <option value="">Débutant</option>
                            <option value="">10ans et +</option>
                            <option value="">1 à 3ans</option>
                            <option value="">5 à 10ans</option>
                        </select>
                    </label>
                </div>
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Domaine<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">Développement Web/Mobile</option>
                            <option value="">Data science</option>
                            <option value="">Elecronique</option>
                            <option value="">Block Chain</option>
                            <option value="">Economie et finance</option>
                            <option value="">Test et validation</option>
                            <option value="">BI et Big Data</option>
                            <option value="">Réseaux</option>
                            <option value="">Design</option>
                            <option value="">IoT</option>
                        </select>
                    </label>
                </div>
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Compétences<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">Angular</option>
                            <option value="">NodeJS</option>
                            <option value="">Spring Boot</option>
                            <option value="">Symphony</option>
                            <option value="">React</option>
                            <option value="">Android</option>
                            <option value="">React native</option>
                            <option value="">Java</option>
                            <option value="">MySql</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <a data-toggle="modal" href="#myModal">
                    <button type="button" class="btn btn-theme02" title="ajouter candidat">
                        <i class="fa fa-user-plus fa-2x"></i>
                    </button>
                </a>
            </div>
        </div><br>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"><i class="fa fa-user-plus"></i>  Ajouter un candidat</h4>
                </div>
                <div class="modal-body" style="margin-bottom: 20px;">
                    <div class="form-group">
                        <div class="controls col-md-11">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-theme02 btn-file" style="border-radius: 0!important;">
                                    <span class="fileupload-new"><i class="fa fa-paperclip"></i> Choisir un fichier</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Changer le fichier</span>
                                    <input type="file" class="default" />
                                </span>
                                <span class="fileupload-preview" style="margin-left:5px;"></span>
                                <a href="" class="close fileupload-exists" data-dismiss="fileupload"
                                    style="float: none; margin-left:5px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                  <button class="btn btn-theme" type="button">Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
          <!-- modal -->
        <div class="adv-table" style="margin-left: 10px!important;">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>CIN</th>
                        <th class="hidden-phone">Date de naissance</th>
                        <th class="hidden-phone">Email</th>
                        <th class="hidden-phone">N° téléphone</th>
                        <th class="hidden-phone">Adresse</th>
                        <th class="hidden-phone">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalAff" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><i class="fa fa-plus"></i> Affecter un candidat</h4>
                                </div>
                                <div class="modal-body" style="margin-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div id="hidden-table-info_length" class="dataTables_length" style="font-size: 16px;margin-right: 30px!important;">
                                                <label>Département<br>
                                                    <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                                                        <option value="" selected="selected">ESS</option>
                                                        <option value="">E-business</option>
                                                        <option value="">Mobile</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div id="hidden-table-info_length" class="dataTables_length" style="font-size: 16px;">
                                                <label>Chef de l'équipe<br>
                                                    <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                                                        <option value="" selected="selected">Nidhal Jammeli</option>
                                                        <option value="">Nidhal Jammeli</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                                    <button class="btn btn-theme" type="button">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalSupp" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><i class="fa fa-user-times "></i> Supprimer un candidat</h4>
                                </div>
                                <div class="modal-body" style="margin-bottom: 20px;">
                                    Êtes-vous sûr de vouloir supprimer ce candidat?
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                                    <button class="btn btn-theme" type="button">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td class="hidden-phone">12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">26/01/1997</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td class="center hidden-phone">Sahloul 4 , Sousse</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails candidat">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalAff">
                                <button class="btn btn-success btn-xs" title="affecter candidat">
                                    <i class="fa fa-plus"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer candidat">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>

<!--js loader-->
<!-- <app-base-js></app-base-js> -->
<app-data-table-js ></app-data-table-js>
<app-modal-js></app-modal-js>
<!--js loader-->
