<h3><i class="fa fa-angle-right"></i> La liste des utilisateurs</h3>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="row" style="margin-right: 0px!important;margin-left: 10px!important">
            <div class="col-md-11">
                <div id="hidden-table-info_length" class="dataTables_length">
                    <label>Rôle<br>
                        <select size="1" name="hidden-table-info_length" aria-controls="hidden-table-info">
                            <option value="" selected="selected">Collaborateur</option>
                            <option value="">Ressources Humaines</option>
                            <option value="">Responsable Pôle</option>
                            <option value="">Chef d'équipe</option>
                            <option value="">Administrateur</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="adv-table" style="margin-left: 10px!important;">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>CIN</th>
                        <th class="hidden-phone">Nom utilisateur</th>
                        <th class="hidden-phone">Rôle</th>
                        <th class="hidden-phone">Email</th>
                        <th class="hidden-phone">N° téléphone</th>
                        <th class="hidden-phone">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalSupp" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"><i class="fa fa-user-times "></i> Supprimer un utilisateur</h4>
                                </div>
                                <div class="modal-body" style="margin-bottom: 20px;">
                                    Êtes-vous sûr de vouloir supprimer ce utilisateur?
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
                                    <button class="btn btn-theme" type="button">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="gradeA">
                        <td>Mayssa FRIGUI</td>
                        <td>12826842</td>
                        <td class="hidden-phone">MayssaFR</td>
                        <td class="center hidden-phone">Collaborateur</td>
                        <td class="center hidden-phone">friguimayssa97@gmail.com</td>
                        <td class="center hidden-phone">27758975</td>
                        <td>
                            <a href="">
                                <button class="btn btn-primary btn-xs" title="voir détails utilisateur">
                                    <i class="fa fa-check"></i></button>
                            </a>
                            <a data-toggle="modal" href="#ModalSupp">
                                <button class="btn btn-danger btn-xs" title="supprimer utilisateur">
                                    <i class="fa fa-trash-o "></i></button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>

<!--js loader-->
<!-- <app-base-js></app-base-js> -->
<app-data-table-js ></app-data-table-js>
<app-modal-js></app-modal-js>
<!--js loader-->
