<footer class="site-footer">
    <div class="text-center" style="margin-right: 22%;">
      <p>
        &copy; Copyrights
        <a href="https://www.proxym-group.com/" style="color: white!important;">
          <img src="../../../assets/img/logo2.png" alt="Proxym" width="20px" height="20px">
          <strong>Proxym-IT</strong>.
        </a>
      </p>
      <div class="credits">
      </div>
      <a class="go-top">
        <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>

<!-- Js-loader -->
<app-base-js></app-base-js>
<!-- /Js-loader -->
