<h3><i class="fa fa-angle-right"></i> La liste des collaborateurs</h3>
<div class="row mb">
    <div class="content-panel">
        <div class="row" style="margin-right: 0px!important;margin-left: 10px!important">
          <div class="col-md-4 mb">
            <ng-select [items]="poles"
                       bindLabel="nom"
                       placeholder="Selectionner le département"
                       appendTo="body"
                       multiple="true"
                       ngModel="selected">
            </ng-select>
          </div>
          <div class="col-md-4 mb">
            <ng-select [items]="equipes"
                       bindLabel="nom"
                       placeholder="Selectionner l'équipe"
                       appendTo="body"
                       multiple="true"
                       ngModel="selected">
            </ng-select>
          </div>
          <div class="col-md-4 mb">
            <ng-select [items]="projets"
                       bindLabel="nom"
                       placeholder="Selectionner les projets"
                       appendTo="body"
                       multiple="true"
                       ngModel="selected">
            </ng-select>
          </div>
        </div>
        <app-multi-select-list></app-multi-select-list>
        <br>
        <div class="adv-table" style="margin-left: 10px!important;">
            <table cellpadding="0" cellspacing="0" class="display table table-bordered"
                id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Nom et prénom</th>
                        <th>Nom utilisateur</th>
                        <th>Rôle(s)</th>
                        <th class="hidden-phone">Date de naissance</th>
                        <th class="hidden-phone">E-mail</th>
                        <th class="hidden-phone">N° téléphone</th>
                        <th class="hidden-phone">Poste</th>
                        <th class="hidden-phone">Salaire</th>
                        <th class="hidden-phone">date d'embauche</th>
                        <th class="hidden-phone">évaluation</th>
                        <th class="hidden-phone">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA" *ngFor="let col of cols">
                        <td>{{col.cv.candidat.prenom| titlecase}} {{col.cv.candidat.nom| uppercase}}</td>
                        <td>{{col.nomUtilisateur}}</td>
                        <td>{{col.roles}}</td>
                        <td class="hidden-phone">{{col.cv.candidat.dateNaiss | date:  'dd/MM/yyyy'}}</td>
                        <td class="center hidden-phone">{{col.email}}</td>
                        <td class="center hidden-phone">{{col.tel}}</td>
                        <td class="center hidden-phone">{{col.poste}}</td>
                        <td class="center hidden-phone">{{col.salaire}}</td>
                        <td class="center hidden-phone">{{col.dateEmb | date:  'dd/MM/yyyy'}}</td>
                        <td class="center hidden-phone">
                          <app-star-rating rating={{col.evaluation}}></app-star-rating>
                          <!-- <span class="stars">{{col.evaluation}}</span> -->
                        </td>
                        <td style="padding-right: 0;">
                            <button class="btn btn-primary btn-xs" title="voir détails collaborateur" [routerLink]="['cv', col.cv.candidat.id]"
                            style="padding-left: 4px!important; padding-right: 4px!important;">
                            <i class="fa fa-eye"></i></button>
                            <a data-toggle="modal" href="#supp">
                                <button class="btn btn-danger btn-xs" title="supprimer collaborateur" [routerLink]="['supprimer',col.id]" >
                                  <i class="fa fa-trash-o "></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="supp" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><i class="fa fa-user-times "></i> Supprimer un collaborateur</h4>
          </div>
          <div class="modal-body" style="margin-bottom: 20px;">
              Êtes-vous sûr de vouloir supprimer ce collaborateur?
          </div>
          <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Annuler</button>
              <button class="btn btn-theme" type="button">Confirmer</button>
          </div>
      </div>
  </div>
</div>
<!-- modal -->


<!--js loader-->
<!-- <app-base-js></app-base-js> -->
<app-data-table-js ></app-data-table-js>
<!--js loader-->

