<!--script hedhi mta3 dwer-->
<i appJsLoader [script]="'../../../../assets/lib/chart-master/Chart.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/chart.js'"></i>
<!-- script les lignes graphe -->
<i appJsLoader [script]="'../../../../assets/lib/jquery.sparkline.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/sparkline-chart.js'"></i>
<!--acceuil calendrier -->
<i appJsLoader [script]="'../../../../assets/lib/zabuto_calendar.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/calendar.js'"></i>
