<div class="chat-room mt" >
    <aside class="mid-side">
        <div class="chat-room-head">
            <h3><i class="fa fa-history"></i> Historique du processus de recrutement</h3>
            <form action="#" class="pull-right position">
                <div class="input_container">
                    <span class="input_icon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Rechercher" class="form-control search-btn ">
                </div>
            </form>
        </div>
        <div class="room-desk">
            <div class="room-box">
                <h5 class="text-primary"><a href=""><i class="fa fa-calendar"></i> 17:30 20/02/2022</a></h5>
                <p>Vous avez passé un deuxième entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.</p>
            </div>
            <div class="room-box">
                <h5 class="text-primary"><a href=""><i class="fa fa-calendar"></i> 17:30 15/01/2022</a></h5>
                <p>Vous avez passé un premier entretien concernant l'offre de recrutement d'un ingénieur web Full Stack.</p>
            </div>
            <div class="room-box">
                <h5 class="text-primary"><a href=""><i class="fa fa-calendar"></i> 10:35 05/01/2022</a></h5>
                <p>Vous avez postuler dans la plateforme de recrutement de Proxym-IT concernant l'offre de recrutement d'un ingénieur web Full Stack.</p>
            </div>
        </div>
    </aside>
</div>

<!-- Js-loader -->
<!-- <app-base-js></app-base-js> -->
<!-- /Js-loader -->
