<section id="container" *ngIf="user">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <section id="main-content">
    <section class="wrapper">
      <div class="row mt" >
        <div class="col-lg-12">
          <div class="row content-panel">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider hidden-sm hidden-xs">
                <h4 *ngIf="user.dateNaiss"><i class="fa fa-calendar"></i> Date de naissance</h4>
                <h5 style="color: rgb(163, 157, 157)!important;">{{user.dateNaiss | date: 'dd/MM/yyyy'}}</h5>
                <h4 *ngIf="user.emailPro"><i class="fa fa-envelope"></i> Email</h4>
                <h5 style="color: rgb(163, 157, 157)!important;">{{user.emailPro}}</h5>
                <h4 *ngIf="user.telPro"><i class="fa fa-phone"></i> N° Téléphone</h4>
                <h5 style="color: rgb(163, 157, 157)!important;">{{user.telPro}}</h5>
                <h4 *ngIf="user.adresse"><i class="fa fa-map-marker"></i> Adresse</h4>
                <h5 style="color: rgb(163, 157, 157)!important;">{{user.adresse}}</h5>
                <h4 *ngIf="user.cin"><i class="fa fa-id-card-o"></i> CIN</h4>
                <h5 style="color: rgb(163, 157, 157)!important;">{{user.cin}}</h5>
              </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
              <h3>{{user.nom| titlecase}}</h3>
              <h5>{{user.poste}}</h5>
              <br>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p *ngIf="user.avatar"><img src="../../../../assets/img/{{user.avatar}}" class="img-circle"></p>
                <p *ngIf="!user.avatar"><img src="../../../../assets/img/man.png" class="img-circle"></p>
              </div>
            </div>
            <!-- /col-md-4 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /col-lg-12 -->
        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <div class="panel-body">
              <div class="tab-content">
                <div id="details" class="tab-pane active">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.formations">
                          <h4><i class="fa fa-graduation-cap"></i> Formation</h4>
                          <div class="container-fluid">
                            <div class="row">
                                <p>{{user.cv.formations}}</p>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.experiences">
                          <h4><i class="fa fa-briefcase"></i> Expériences professionelles</h4>
                          <div class="container-fluid">
                            <div class="row">
                              <p>{{user.cv.experiences}}</p>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                      </div>
                      <div class="row" *ngIf="user.cv.projets">
                        <div class="detailed mt">
                          <h4><i class="fa fa-cogs"></i> Projets</h4>
                          <div class="container-fluid">
                            <div class="row" >
                              <p>{{user.cv.projets}}</p>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                      </div>
                      <!-- /detailed -->
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.activiteAssociatives">
                          <h4><i class="fa fa-handshake-o"></i> Activités associatives</h4>
                          <div class="container-fluid" >
                            <div class="row">
                              <p>{{user.cv.activiteAssociatives}}</p>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                      </div>
                    </div>
                    <!-- /col-md-6 -->
                    <div class="col-md-6">
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.competences">
                          <h4><i class="fa fa-wrench"></i> Compétences</h4>
                          <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-11">
                                  <p *ngFor="let c of user.cv.competences"><strong>▪{{c.nom}} </strong></p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.certificats">
                          <h4><i class="fa fa-trophy"></i> Certifications</h4>
                          <div class="container-fluid">
                            <div class="row">
                              <p><i class="fa fa-certificate"></i>
                                {{user.cv.certificats}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="detailed mt" *ngIf="user.cv.langues">
                          <h4><i class="fa fa-language"></i> Langues</h4>
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-8" *ngFor="let langue of user.cv.langues">
                                <p><strong >▪ {{langue}}</strong></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="user.cv.interets">
                        <div class="detailed mt" >
                          <h4><i class="fa fa-heart"></i> Centre d'intérêt</h4>
                          <div class="container-fluid">
                            <div class="row">
                              <p>{{user.cv.interets}}</p>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                      </div>
                      <!-- /row -->
                    </div>
                    <!-- /col-md-6 -->
                  </div>
                  <!-- /OVERVIEW -->
                </div>
                <!-- /tab-pane -->
              </div>
              <!-- /tab-content -->
            </div>
            <!-- /panel-body -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
      </div>
    </section>
    <app-footer></app-footer>
  </section>
</section>
