<!-- <div id="login-page">
    <div class="container">
      <form class="form-login" action="">
        <h2 class="form-login-heading">Plateforme d'analyse des CVs</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" placeholder="User ID" autofocus>
          <br>
          <input type="password" class="form-control" placeholder="Password">
          <label class="checkbox">
            <span class="pull-right">
            </span>
            </label>
          <button class="btn btn-theme btn-block btn-round" href="" type="submit"><i class="fa fa-lock"></i> Se connecter</button>
          <hr>
          <div class="registration">
            <a href="https://www.proxym-group.com/" style="color: pink!important;">
                <img src="../../../assets/img/logo2.png" alt="Proxym" width="20px" height="20px">
                <strong>Proxym-IT</strong>.
              </a>
          </div>
        </div>
      </form>
    </div>
  </div> -->

  <!-- <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../../assets/img/cv7.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>

            <form class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->


<div class="containe">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key" style="margin-left: 10px;">
                <i class="fa fa-key" style="display: inline-grid!important;"></i>
                <img src="../../../assets/img/proxym-logo.png" alt="Proxym" width="100px" height="25px" style="float: right; margin-top: 10px;">
            </div>
            <div class="col-lg-12 login-title">
                 <strong style="color: #81ecec;">Plateforme d'analyse des CVs</strong>
            </div>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form [formGroup]="loginForm"  class="form" (ngSubmit)="login()">
                        <div class="form-group">
                            <label class="form-control-label">Nom utilisateur</label>
                            <input type="text" class="form-control" name="nomUtilisateur" id="nomUtilisateur" minlength="4"
                            formControlName="nomUtilisateur" ngModel  required [ngClass]="{ 'is-invalid': submitted && f.nomUtilisateur.errors }">
                            <div *ngIf="submitted && f.nomUtilisateur.errors" class="invalid-feedback alert alert-danger">
                              <div *ngIf="f.nomUtilisateur.errors.required">Le nom utilisateur est manquant!</div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Mot de passe</label>
                            <input type="password" class="form-control" name="motDePasse" id="motDePasse" minlength="4"
                            formControlName="motDePasse" required [ngClass]="{ 'is-invalid': submitted && f.motDePasse.errors }">
                            <!-- <div *ngIf="motDePasse">Le mot de passe ou le nom utilisateur est manquant!</div> -->
                            <div *ngIf="submitted && f.motDePasse.errors" class="invalid-feedback alert alert-danger">
                              <div *ngIf="f.motDePasse.errors.required">Le mot de passe est manquant!</div>
                              <div *ngIf="f.motDePasse.errors.minlength">Le mot de passe doit avoir au minimum 4 caractéres!</div>
                          </div>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <!-- <div class="col-lg-6 login-btm login-text">
                                <div *ngIf="loginForm.errors.required">Le mot de passe ou le nom utilisateur est manquant!</div>
                                <div *ngIf="loginForm.errors.minlength">Le mot de passe ou le nom utilisateur doivent avoir au minimum 4 caractéres!</div>
                            </div> -->
                            <div class="col-lg-6 login-btm login-button">
                                <!-- <button type="submit" class="btn btn-outline-primary" (click)="login(loginForm.value)">Se connecter</button> -->
                              <button type="submit" class="btn btn-outline-primary">Se connecter</button>
                              <!-- <button [disabled]="loading" class="btn btn-primary">
                                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                  Login
                              </button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
<!--
<script type="text/javascript" src="../../../assets/lib/jquery.backstretch.min.js"></script>
<script>
  $.backstretch("../../../assets/img/81ecec.png", {
    speed: 500
  });
</script> -->

<!-- Js-loader -->
<app-base-js></app-base-js>
<!-- /Js-loader -->
