/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body {
  margin: 0;;
  font-family: 'Ruda', sans-serif!important;
  font-size: 13px!important;
}

.dataTables_filter {/*to disable the search box*/
  display: none!important;
}

.paging_full_numbers a.paginate_button {
  /* background-color: #65dad2!important; */
  /* color: white!important; */
  border: none;
  padding-right: 8px!important;
  padding-left: 8px!important;
  color: #fff!important;
  background: #4ECDC4;
  -webkit-border-radius: 3px;
  display: inline-block;
}

.table-bordered>tbody>tr>td{
  background-color: #d5ffd5;
}

tr.odd td.sorting_1 {
  background-color: #c4ffc4;
}

tr.even td.sorting_1 {
  background-color: #d5ffd5;
}


/* .h3, .mat-typography
{
  font-weight: 400!important;
  margin-top: 20px!important;
  margin-bottom: 10px!important;
  font: 300 13px/25px Roboto, "Ruda", sans-serif!important;
}
.header{
  top: 0!important;
}

.cdk-overlay-pane{
  top: 150!important;
  left:280!important;
  margin-top: 115px!important;
}

#mat-option-0 > span > ngx-mat-select-search > div{
  margin-top: 0!important;
} */
