/* .mat-select #multiSelect{
    color: #797979;
}
.mat-select-placeholder{
    color: #797979!important;
} */


/* .additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.select-container{
  margin-top:10px;
} */

