<i appJsLoader [script]="'../../../../assets/lib/bootstrap-fileupload/bootstrap-fileupload.js'"></i>
<!-- <i appJsLoader [script]="'../../../../assets/lib/bootstrap-datepicker/js/bootstrap-datepicker.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/bootstrap-daterangepicker/date.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/bootstrap-daterangepicker/daterangepicker.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/bootstrap-timepicker/js/bootstrap-timepicker.js'"></i>
<i appJsLoader [script]="'../../../../assets/lib/advanced-form-components.js'"></i> -->
